@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255,0.8);
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1{
    border-radius: 30px;
    background-color: transparent;
    margin-bottom: 20px;
    background-image: linear-gradient(to right bottom, #001f4f, #001c45, #00183b, #001431, #000f28);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
i{
    font-size: 0.9rem;
    margin-top: 8px;
}
i.score{
    border-radius: 20px;
    width: 130px;
    background-color: transparent;
    display: inline-block; 
    padding: 2px;
    /* margin-bottom: 10px; */
    background-image: linear-gradient(to right bottom, #001f4f, #001c45, #00183b, #001431, #000f28);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
i.yScore{
    margin-right:70px ;
}
i.highScore{
   margin-left: 30px;
    
}
span{
    color: #eb4d4b;
}

div.btn{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1rem;
}

div.btn_container{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}
span.score{
position: absolute;
left: 0;


}
.red{
    background-color:#eb4d4b  ;
}
.green{
    background-color: #22a6b3;
}
.yellow{
    background-color:#f9ca24 ; 
}
.purple{
    background-color: #be2edd;
}
.flash{
    background-color: #fff;
}
.userFlash{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }

 .game{
    /* border: 2px solid red; */
    width: 75%;
    min-height: 530px;
    margin: 20px auto;
    border-radius: 40px;
    padding: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-image: linear-gradient(to right bottom, #001f4f, #001c45, #00183b, #001431, #000f28);
 }

 .gameArea{
    background-image: linear-gradient(to right top, #ff0000, #ff0021, #ff0034, #ff0045, #ff0055);
 }